:root {
    --federal-blue: #03045eff;
    --marian-blue: #023e8aff;
    --honolulu-blue: #0077b6ff;
    --blue-green: #0096c7ff;
    --pacific-cyan: #00b4d8ff;
    --vivid-sky-blue: #48cae4ff;
    --non-photo-blue: #90e0efff;
}

body {
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100vh;
    margin: auto;
}

.left {
    background-color: var(--federal-blue);
    height: 100%;
    width: 18%;
    float: left;
    position: absolute;
    color: #ffffff;
    text-align: center;
}

.right {
    background-color: white;
    height: 100%;
    width: 81%;
    float: right;
    text-align: center;
    margin-top: auto;
    position: relative;
}

.notes {
    margin-top: 100px;
}

button {
    color: white;
    background-color: var(--marian-blue);
    border: 0;
    font-size: 20px;
    margin-top: 10px;
    transition-duration: 0.4s;
    width: 100%;
}

button:hover {
    background-color: var(--blue-green);
    color: white;
}

#aiotnotes,
#wtnotes,
#dwdmnotes,
#addons,
#obnotes {
    display: none;
}

.subtitle {
    text-transform: uppercase;
    font-family: "Audiowide";
    font-size: 50px;
    color: var(--vivid-sky-blue);
}

.foot {
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .container {
        flex-direction: column-reverse;
        overflow-y: auto;
        max-height: 100vh;
    }

    .left,
    .right {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 10px;
        margin: 10px 0;
    }

    .subtitle {
        font-size: 24px;
    }

    .fa-folder-open {
        margin: 10px;
    }
}
