.container{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100%;
}
body{
    margin: 0px;
}
.left{
    background-color: black;
    height: 100%;
    width: 19%;
    float:left;
    position: absolute;
    font-family: 'Libre Baskerville', serif;
font-family: 'PT Sans', sans-serif;
    Color : #ffffff;
    text-align :center;
}
.right{
    background-color: white;
    height:100%;
    width:81%;
    float:right;
    text-align: center;
    margin-top: auto;
    position: relative;
}
.notes{
    margin-top: 50px;
}
button{
    color: white;
    background-color: black;
    border: 0px;
    font-size:20px;
    margin-top: 10px;
    transition-duration: 0.4s;
    width: 100%;
}
button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
  }
  
  #aiotnotes,#wtnotes,#dwdmnotes,#penotes,#obnotes {
    display: none;
}
.subtitle{
    text-transform: uppercase;
    font-family: "Audiowide";
    font-size: 50px;


}
.con{
    border: 3px solid seagreen;
    width: 100%;
}
#r{
    margin: 0;
    width: 75%;
    float: right;

}
#l{
    width: 25%;
    margin: 0;
    float: left;
    
}
body{
    background-color: #04AA6D;
    background-color: #9aedcf;


}
