.container{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100%;
    margin: auto;
}
body{
    margin: 0px;
}
.left{
    background-color: black;
    height: 100%;
    width: 18%;
    float:left;
    position: absolute;
    font-family: 'Libre Baskerville', serif;
font-family: 'PT Sans', sans-serif;
    Color : #ffffff;
    text-align :center;
}
.right{
    background-color: white;
    height:100%;
    width:81%;
    float:right;
    text-align: center;
    margin-top: auto;
    position: relative;
}
.notes{
    margin-top: 100px;
}
button{
    color: white;
    background-color: black;
    border: 0px;
    font-size:20px;
    margin-top: 10px;
    transition-duration: 0.4s;
    width: 100%;
}
button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
  }
  
  #aiotnotes,#wtnotes,#dwdmnotes,#penotes,#obnotes {
    display: none;
}
.subtitle{
    text-transform: uppercase;
    font-family: "Audiowide";
    font-size: 50px;
.foot{
    text-align: end;
}
}

/* Mobile styles */
@media only screen and (max-width: 767px) {
    .container {
        flex-direction: column-reverse; 
        overflow-y: auto; 
        max-height: 100vh; 
    }

    .left, .right {
        width: 100%;
        height: auto;
        box-sizing: border-box; 
        padding: 10px; 
        margin: 10px 0;
    }

    .subtitle {
        font-size: 24px; 
    }

    .fa-folder-open {
        margin: 10px; 
    }
}